
*{
	margin:0;
	padding:0;
}
body{
	background:#fff;
	color:#666;	
	font:12px/18px Tahoma, Arial, Helvetica, sans-serif;	
}

      #verticalMenu {
        margin: 0;
        padding: 0;
		padding-top:61px;/*Это отступ от верхнего меню*/
        list-style-type: none;
        width: 100px;
		position: fixed;
      }
		#verticalBackground {
			background-color: #4C4C4C;
			width:190px; /*уменьшить, когда будут иконки вместо текста*/	
			height:100%;
			position: fixed;
		}	  
	  
	  	#verticalMenu ul{
			margin:0 auto;
			list-style:none;
			text-align: center;
		}
	  
		#verticalMenu li{
			list-style:none;
			display:block;
			float:left;
			font-size:11px;
			font-weight:bold;
			height:61px;
			line-height:61px;
			
		}
		#verticalMenu a {
			background-color: #4C4C4C;
			color: #fff;
			padding: 5px;
			text-decoration: none;
			font-weight: bold;
			display: block;
		}
	  
	  		#verticalMenu li a{
				display:block;
				width:150px;	/*уменьшить, когда будут иконки вместо текста*/			
				color:#99a2b7;
				text-decoration:none;
				text-transform:uppercase;
				padding:0 20px;				
			}
	  			#verticalMenu li a:hover{	
					background:url(../images/fm_hover_bg.jpg) repeat-x;
					color:#fff;
				}
		
					#verticalMenu li .current{
						display:block;
						width:150px;	/*уменьшить, когда будут иконки вместо текста*/				
						background:url(../images/fm_hover_bg.jpg) repeat-x;
						color:#fff;
						text-decoration:none;
						text-transform:uppercase;
						padding:0 20px;		
					}