.reservationButton {
	background: #2f889a;
  display: inline-block;
  color: white;
  font-weight: 700;
  text-decoration: none;
  user-select: none;
  width: 300px; /*300px is OK*/  
  padding: 2em 10em;/*1.5em 10em;*/ /*Регулировка высоты и ширины ссылки или кнопки*/
  outline: none;
  border: 2px solid;
  border-radius: 1px;
  transition: 0.2s;
} 
.reservationButton:hover { background:  #4DA6B8 }
.reservationButton:active { background: #72CBDA; }

.logInOutButtons {
	background: #4C4C4C;
  display: inline-block;
  color: white;
  font-weight: 700;
  text-decoration: none;
  user-select: none;
  padding: 0.5em 5em;/*1.5em 10em;*/ /*Регулировка высоты и ширины ссылки или кнопки*/
  outline: none;
  border: 2px solid;
  border-radius: 1px;
  transition: 0.2s;
} 
.logInOutButtons:hover { background:  #8E8E8E }
.logInOutButtons:active { background: #F0F0F0; }

/*INDEX*/

.registerFromServiceButton {
	background: #4C4C4C;
  display: inline-block;
  color: white;
  font-weight: 700;
  text-decoration: none;
  user-select: none;
  width: 350px; /*300px is OK*/
  padding: 2em 15em;/*1.5em 10em;*/ /*Регулировка высоты и ширины ссылки или кнопки*/
  outline: none;
  border: 2px solid;
  border-radius: 1px;
  transition: 0.2s;
} 
.registerFromServiceButton:hover { background:  #8E8E8E }
.registerFromServiceButton:active { background: #F0F0F0; }

.indexButton {
	background: #2f889a; /*#4C4C4C;*/
  display: inline-block;
  color: white;
  font-weight: 700;
  text-decoration: none;
  user-select: none;
  width: 350px; /*300px is OK*/
  padding: 2em 15em;/*1.5em 10em;*/ /*Регулировка высоты и ширины ссылки или кнопки*/
  outline: none;
  border: 2px solid;
  border-radius: 1px;
  transition: 0.2s;
} 
.indexButton:hover { background:  #4DA6B8 } /*#8E8E8E*/
.indexButton:active { background: #72CBDA } /*#F0F0F0;*/
/*END INDEX*/









