th {
  font-size: 13px;
  font-weight: normal;/*bold*/ /*normal*/
  background: #60B9CE; /*#2f889a;*/ /*#b9c9fe;*/
  border-top: 4px solid #2f889a;
  border-bottom: 1px solid #fff;
  color: #039; /*#E8EDFF;*/
  padding: 8px;
}
td {
  background: #e8edff;
  border-bottom: 1px solid #fff;
  color: #669;
  border-top: 1px solid transparent;
  padding: 8px;
}
tr:hover td {
  background: #ccddff; 
}
/*loaded parking*/
.mainColumn {
  font-size: 13px;
  font-weight: normal; /*bold*/ /*normal*/
  background: #60B9CE; /*#2f889a;*/ /*#b9c9fe;*/
  border-top: 4px solid #2f889a;
  border-bottom: 1px solid #fff;
  color: #039;/*#E8EDFF;*/
  padding: 8px;
}